bin/NebulaDebug.app
Nebula.xcodeproj/project.xcworkspace/xcshareddata
Nebula.xcodeproj/project.xcworkspace/xcuserdata
Nebula.xcodeproj/xcuserdata/bltzr.xcuserdatad/xcschemes/xcschememanagement.plist
Nebula.xcodeproj/xcshareddata/xcschemes/Nebula Debug.xcscheme
Nebula.xcodeproj/xcshareddata/xcschemes/Nebula Release.xcscheme
